html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 900px;
}

:root {
  --ultraviolet: #7638ff;
  --gray-900: #242424;
  --gray-700: #525252;
  --gray-400: #a3a3a3;
  --gray-200: #d9d9d9;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: inherit;
}
