.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    height: 100vh;
    width: 28vw;
    background-color: lightgray;
    padding-left: 5px;
    overflow: auto;
}

.builder {
    margin-left: auto;
    height: 100vh;
    width: 70vw;
}

.version-item {
    display: flex;
    align-items: center;
    padding: 3px;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
}

.version-item:hover {
    background-color: #f0f0f0;
}
